h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 100px;
    flex-direction: column;
    color: green;
    justify-content: center;
    text-overflow: clip;
    text-decoration: lawngreen;
    text-decoration-line: underline;
    padding-bottom: 5px; 
    margin-top:0px;
    padding-top: 0px;

}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.784)), url("https://bit.ly/2U2ZlSg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1570px;
}
#Aboutus{
    font-size: 20px;
    color: blanchedalmond;
   
}
h3{
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    text-justify: newspaper;
}
.farm{
    font-size: 20px;
    color: blanchedalmond;

}
.farmer{
    font-size: 20px;
    color: blanchedalmond;
}
footer{
    background-color: chartreuse;
    text-align: center;
    font-style: italic;
    flex-direction: column;
    padding: 10px;
}
.create{
    background-attachment: fixed;
    
    padding-top:0;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: lime;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  .container {
    position: relative;
    width: 25%;
  }
  .image {
    /* display: block; */
    width: 100%;
    height: 100%;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  .flexing {
      display:flex;
      justify-content: space-between;
      border-image: 0%;
      
  }
  .drone {
      text-align: center;
  }
  .shot:hover .overlay {
    bottom: 0;
    height: 100%;
    width: 100%;
  }
  .shot {
width: 100%;
height: 100%;
  }
  .take {
    width: 100%;
    height: 100%;
  }
  .eugene {
    width: 100%;
    height: 100%;
  }